<!DOCTYPE html>
<html lang="en" version="HTML+RDFa 1.1"
  prefix="cc: http://creativecommons.org/ns#"
  prefix="dc: http://purl.org/dc/elements/1.1/"
  prefix="foaf: http://xmlns.com/foaf/0.1/"
  prefix="bibo: http://purl.org/ontology/bibo/">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="author" property="dc:creator" content="Chris Hamant" />
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />
  <link rel="alternate" type="application/atom+xml" title="Content Feed" href="/atom.xml" />
  <link rel="stylesheet" href="/css/site.css" />
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://chrishamant.myopenid.com/" />
</head>
<body>
  <hgroup>
    <h1><a rel="homepage" href="/">a milewide</a></h1>
    <h4>my little soapbox</h4>
  </hgroup>
  {{ content }}
  <footer>
    <p class="copyright" property="dc:rights">&copy; <span property="dc:dateCopyrighted">2001-2011</span> <a href="mailto:chris@hamant.net" property="dc:publisher">Chris Hamant</a><span class="license"><a rel="cc:license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a></span></p>
  </footer>
  <script>
      var _gaq = [['_setAccount', 'UA-18606719-1'],['_trackPageview']];
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = '//google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</body>
</html>
